/*
Theme Name: Level Up Child
Theme URI: http://wordpress:8888/
Description: This is a child theme of 2017
Author: Dragana Poznan
Author URI: http://localhost
Template: twentyfourteen
Version: 0.1
*/
@import url("../twentyfourteen/style.css");

.entry-title{
    font-size: 40px;
}
h1{
color: red;
}