/*
============================================================
	
	Theme Name: Calcium
	Theme URI: http://www.laborator.co/view-theme/calcium
	Author: Laborator
	Author URI: http://laborator.co/
	Description: Calcium &ndash; its a Responsive WordPress theme, primarily developed for Blog and Portfolio usage. It supports two types of header, two skins, custom fonts and many other options to customize the theme look and feel.
	Version: 1.4
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Text Domain: calcium
	
============================================================
*/

/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/

body {
    /*font-family: 'Montserrat', sans-serif!important;*/
}

input {
    /*font-family: 'Montserrat', sans-serif!important;*/
    /*    font-size: 30px;
        font-weight: 600;*/
    background-color:transparent!important;
    border: 0px solid!important;
}

#fee-slider-params{
    height: 200px;
    width: 200px;
    background-color: silver;

}
input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

select:focus {
    outline: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

:focus {
    outline: none;
}


label {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 18px;
    /*font-family: 'Montserrat', sans-serif!important;*/
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 60px;
}

#slider {
    width: 88%;
    margin: 6%;
    height: 20px;
}

#slider:before {
    content: "100.000";
    position: absolute;
    left: 0px;
    top: -30px;
    /*    font-size: 12px;*/
    /*font-family: 'Montserrat', sans-serif!important;*/
}

#slider:after {
    content: "10.000.000";
    position: absolute;
    right: 0px;
    top: -30px;
    /*    font-size: 12px;
        font-family: 'Montserrat', sans-serif!important;*/
}

#flat {
    color: #00609c;
}

#amount {
    margin-top: -50px;
    /*left: calc(-50% - 37px);*/
    left: -60px;
    position: relative;
    box-sizing: border-box;
    border: 0px;
    text-align: center;
    /*    font-size: 18px;
        font-family: 'Montserrat', sans-serif!important;
        font-weight: 400;*/
    width: 200px;
}

.calcs {
    width: 88%;
    margin: 6%;
    margin-top: 100px;
}
.calcs input {
    border: 0px;
    text-align: center;
}

.calcs div {
    width: 33%;
    text-align: center;
    display: inline-block;
}

.ui-slider-handle {
    background: url(/wp-content/uploads/2018/02/slider.png)!important;
    width: 74px!important;
    height: 80px!important;
    border: 0px!important;
    top: -37px!important;
}

.blue {
    height: 20px;
    background: #0B619A;
    width: 0;
}