.widget-content .nl {
  display: block;
  width: 100%; }

.widget-content a[data-more] {
  margin-bottom: 5px;
  display: inline-block; }

.hidden_option {
  display: none; }

#lab_post_thumbnail {
  width: 70px;
  text-align: center; }

#laborator_likes {
  width: 85px; }

#taxonomy-portfolio-category {
  width: 275px; }

.lab_post_thumbnail {
  text-align: center; }

.lab_post_thumbnail img {
  box-shadow: 0px 0px 0px 5px white; }

body #of_container input.of-radio {
  position: relative;
  top: 7px;
  width: 17px;
  border-radius: 50%; }

body #of_container input.of-radio + label {
  display: inline-block; }

body #of_container input.checkbox {
  width: 17px;
  position: relative;
  top: 7px; }

#of_container #of-nav li.blog a {
  background-image: url(../images/smof-blog.png); }

#of_container #of-nav li.portfolio a {
  background-image: url(../images/smof-portfolio.png); }

#of_container #header .icon-option {
  background-image: url(../images/laborator-logo.png) !important; }
