/* 
==========================================================================
			Calcium - WordPress Theme
========================================================================== 
*/
/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
body {
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  cursor: auto;
}
p a {
  color: #222;
}
p a:hover {
  color: #ffba00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #222;
  font-size: 12px;
}
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #222;
  font-size: 12px;
}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #222;
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #222;
  font-size: 12px;
}
::selection {
  color: #ffba00;
}
::-moz-selection {
  color: #ffba00;
}
.st-content-inner > .row > header {
  padding: 50px 0;
  border-bottom: 1px solid #EEE;
  zoom: 1;
}
.st-content-inner > .row > header:before,
.st-content-inner > .row > header:after {
  content: "";
  display: table;
}
.st-content-inner > .row > header:after {
  clear: both;
}
.st-content-inner > .row > header .logo {
  display: block;
  font-size: 28px;
  margin: 0px;
  margin-top: 85px;
  font-weight: 400;
}
.st-content-inner > .row > header .logo span {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.st-content-inner > .row > header .header-container {
  display: table;
  width: 100%;
}
.st-content-inner > .row > header .header-container > .logo,
.st-content-inner > .row > header .header-container > nav {
  display: table-cell;
  vertical-align: middle;
}
.st-content-inner > .row > header .header-container > nav.nav-items-3 > .main-nav > li {
  margin-left: 50px;
}
.st-content-inner > .row > header .header-container > nav.nav-items-4 > .main-nav > li {
  margin-left: 40px;
}
.st-content-inner > .row > header .header-container > nav .main-nav {
  float: right;
  white-space: nowrap;
}
.st-content-inner > .row > header .header-container > nav .main-nav > li {
  display: inline-block;
  float: none;
}
.st-content-inner > .row > header .header-container > nav .main-nav > li.sidebar-menu.right {
  position: relative;
  top: 2px;
  float: right;
}
.st-content-inner > .row > header .header-container > nav .main-nav > li.menu-item-has-children > a:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transform: translateY(-25%);
  right: -12px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #222 transparent transparent transparent;
}
.st-content-inner > .row > header .header-container > nav .main-nav > li .menu-item-has-children > a {
  position: relative;
}
.st-content-inner > .row > header .header-container > nav .main-nav > li .menu-item-has-children > a:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 8px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
}
.st-content-inner > .row > header .header-container > nav.more-than-5 > .main-nav > li {
  margin-left: 20px;
}
.st-content-inner > .row > header .header-container > nav.more-than-6 > .main-nav > li {
  margin-left: 15px;
}
.st-content-inner > .row > header.centered-logo {
  padding: 30px 0;
}
.st-content-inner > .row > header.centered-logo .header-container {
  display: block;
}
.st-content-inner > .row > header.centered-logo .header-container > .logo,
.st-content-inner > .row > header.centered-logo .header-container > nav {
  display: block;
}
.st-content-inner > .row > header.centered-logo .header-container .logo {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}
.st-content-inner > .row > header.centered-logo .header-container > nav {
  text-align: center;
}
.st-content-inner > .row > header.centered-logo .header-container > nav .main-nav {
  float: none;
  display: inline-block;
}
.st-content-inner > .row > header.centered-logo .header-container > nav .main-nav ul {
  text-align: left;
}
.size-12 {
  font-size: 12px;
}
.size-14 {
  font-size: 14px;
}
.size-16 {
  font-size: 16px;
}
.size-18 {
  font-size: 18px;
}
.size-21 {
  font-size: 21px;
}
.size-24 {
  font-size: 24px;
}
.size-36 {
  font-size: 36px;
}
.size-48 {
  font-size: 48px;
}
.size-60 {
  font-size: 60px;
}
.size-72 {
  font-size: 72px;
}
button,
input {
  font-family: 'Playfair Display', serif;
}
nav {
  zoom: 1;
}
nav:before,
nav:after {
  content: "";
  display: table;
}
nav:after {
  clear: both;
}
.main-nav {
  position: relative;
  display: block;
  width: auto;
  margin: 0px;
  float: right;
  top: 10px;
}
.main-nav li {
  text-transform: uppercase;
  float: left;
  display: inline;
  font-size: 14px;
  margin-left: 25px;
  position: relative;
  z-index: 1;
}
.main-nav li:hover {
  z-index: 5;
}
.main-nav li.active a {
  border-bottom: 1px dotted #AAA;
}
.main-nav li a:hover {
  border-bottom: 1px dotted #AAA;
}
.main-nav li.sidebar-menu {
  color: #FFF;
}
.main-nav li.sidebar-menu button {
  display: block;
  background: url(../images/menu.png) no-repeat center center;
  border: 0px;
  padding: 0 7px;
  text-indent: -9999px;
  outline: 0;
}
.main-nav li.sidebar-menu button:active {
  box-shadow: none;
}
.main-nav li:hover ul {
  visibility: visible;
}
.main-nav li ul {
  margin-top: 20px;
  z-index: 9999;
  position: absolute;
  background: #222;
  padding: 0;
  border: 10px solid #222;
  margin-left: -20px;
  width: 250px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #313131;
  -moz-box-shadow: inset 0px 0px 0px 1px #313131;
  box-shadow: inset 0px 0px 0px 1px #313131;
  -webkit-transform-origin: 20% 20%;
  -moz-transform-origin: 20% 20%;
  -ms-transform-origin: 20% 20%;
  -o-transform-origin: 20% 20%;
  transform-origin: 20% 20%;
}
.main-nav li ul.hidden-text > li > a > span {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.main-nav li ul .arrow-up {
  position: absolute;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #222;
  top: -15px;
  margin-left: 20px;
}
.main-nav li ul li {
  margin: 0px;
  float: none !important;
  display: block;
  padding: 0 1px;
  font-size: 12px;
  line-height: 22px;
  /*ul {
					border: none;
					.box-shadow(none);
					position: relative;
					background: lighten(@dark,2%);
					left:-4px;
					top: 0px;
					width: 100%;
					margin: 0;
					padding: 0;
					.box-sizing(border-box);
				}*/
}
.main-nav li ul li .arrow-up {
  display: none;
}
.main-nav li ul li a {
  padding: 8px 20px;
  padding-top: 5px;
  display: block;
  color: #FFF;
}
.main-nav li ul li a span {
  display: inline-block;
  border-bottom: 1px dotted transparent;
  -webkit-transition: border 300ms ease-in-out, opacity 200ms ease-in-out;
  -moz-transition: border 300ms ease-in-out, opacity 200ms ease-in-out;
  -o-transition: border 300ms ease-in-out, opacity 200ms ease-in-out;
  transition: border 300ms ease-in-out, opacity 200ms ease-in-out;
}
.main-nav li ul li a:hover {
  color: #ffba00;
  border-bottom: 0;
}
.main-nav li ul li a:hover span {
  border-bottom: 1px dotted #aaa;
}
.main-nav li ul li.current-menu-item > a {
  color: #ffba00;
}
.main-nav li ul li ul {
  border: 0;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  margin: 0;
  background: #2a2a2a;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-nav li ul li ul li {
  padding: 0;
}
.main-nav li ul li ul ul {
  background-color: #2c2c2c;
}
.main-nav li ul li ul ul li a {
  padding-left: 35px;
}
.main-nav li ul li ul ul ul li a {
  padding-left: 50px;
}
.main-nav li ul li ul ul ul ul li a {
  padding-left: 65px;
}
.main-nav > li.current-menu-item > a {
  border-bottom: 1px dotted #AAA;
}
.main-nav > li.with-icon-text > a i {
  margin-right: 5px;
}
.main-nav > li.with-icon > a span {
  display: none;
}
.main-nav > li > ul {
  display: none;
}
.main-nav > li > ul.visible {
  display: block;
}
.quotes {
  padding: 80px 0;
  text-align: center;
  font-size: 35px;
}
section.portfolio {
  background: #EEE;
  position: relative;
  zoom: 1;
}
section.portfolio:before,
section.portfolio:after {
  content: "";
  display: table;
}
section.portfolio:after {
  clear: both;
}
section.portfolio [class*="column"]:last-child {
  float: left !important;
}
section.portfolio .portfolio-loading {
  display: none;
  line-height: 100px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
section.portfolio .portfolio-loading i {
  display: inline-block;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
section.portfolio.is-loading .portfolio-loading {
  height: 100px;
  display: block;
}
section.portfolio.is-loading .portfolio-pagination .load-more {
  visibility: hidden;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
section.portfolio.is-loading #portfolio-filter {
  display: none;
}
section.portfolio.portfolio-single > ul .project-open {
  display: block;
  position: relative;
  padding: 40px 0;
}
section.portfolio #portfolio-filter {
  position: fixed;
  right: 30px;
  top: 50%;
  z-index: 500;
  background: #FFF;
  padding: 0;
  margin: 0;
  margin-top: -25px;
  background: #FFF url(../images/menu.png) no-repeat center center;
  border: 1px solid #EEE;
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 5px #FFF;
  -moz-box-shadow: 0px 0px 0px 5px #FFF;
  box-shadow: 0px 0px 0px 5px #FFF;
  width: 50px;
  height: 50px;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
section.portfolio:hover #portfolio-filter {
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
section.portfolio:hover #portfolio-filter:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
section.portfolio > ul {
  margin: 0;
  padding: 0;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.portfolio > ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.portfolio > ul li .portfolio-item {
  position: relative;
  overflow: hidden;
}
section.portfolio > ul li .portfolio-item .image img {
  max-width: 100%;
  width: 100%;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
section.portfolio > ul li .portfolio-item h4,
section.portfolio > ul li .portfolio-item p {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section.portfolio > ul li .portfolio-item.no-categories .project-info .like {
  left: 40px;
  right: auto;
}
section.portfolio > ul li .portfolio-item.no-categories .project-info .like span {
  left: 100%;
  right: auto;
  margin-left: 10px;
  margin-right: 0;
}
section.portfolio > ul li .opened-arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #ffffff transparent;
  line-height: 0px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  visibility: hidden;
  margin-left: -15px;
  z-index: 10;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
section.portfolio > ul li:hover h4,
section.portfolio > ul li:hover p {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}
section.portfolio > ul li:hover .project-info {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
section.portfolio > ul li:hover .image img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section.portfolio > ul li .project-info {
  background: rgba(255, 186, 0, 0.95);
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.portfolio > ul li .project-info ::selection {
  color: #222;
}
section.portfolio > ul li .project-info ::-moz-selection {
  color: #222;
}
section.portfolio > ul li .project-info h4 {
  color: #fff;
  display: inline-block;
}
section.portfolio > ul li .project-info h4:hover a {
  color: rgba(255, 255, 255, 0.8);
}
section.portfolio > ul li .project-info h4 a {
  display: block;
  color: #fff;
}
section.portfolio > ul li .project-info .categories {
  color: #fff;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
section.portfolio > ul li .project-info .categories a {
  color: #fff;
  display: inline-block;
  border-bottom: 1px dotted transparent;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
section.portfolio > ul li .project-info .categories a:hover {
  border-bottom-color: #fff;
}
section.portfolio > ul li .project-info .categories:before {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  padding-top: 10px;
}
section.portfolio > ul li .project-info .like {
  position: absolute;
  display: block;
  width: 19px;
  height: 18px;
  background: url(../images/like.png) no-repeat center top;
  right: 40px;
  bottom: 40px;
}
section.portfolio > ul li .project-info .like .like-hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../images/like.png) no-repeat center bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
section.portfolio > ul li .project-info .like span {
  color: #fff;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-right: 10px;
  margin-top: -10px;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
section.portfolio > ul li .project-info .like:hover .like-hover,
section.portfolio > ul li .project-info .like.liked .like-hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
section.portfolio > ul li .project-info .like.has-likes.liked span {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}
section.portfolio > ul li .project-info .like.just-unliked .like-hover {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
section.portfolio > ul ul.service-list li {
  height: auto;
  line-height: 30px;
  font-size: 14px;
}
section.portfolio > ul ul.service-list li span {
  color: #AAA;
}
section.portfolio > ul .project-open {
  position: absolute;
  background: #FFF;
  width: 100%;
  height: auto;
  padding: 60px 0;
  margin: 0;
  display: none;
  z-index: 100;
}
section.portfolio > ul .project-open.item-layout-right .item-details {
  float: right;
}
section.portfolio > ul .project-open.item-layout-right .item-gallery {
  float: left;
}
section.portfolio > ul .project-open.item-layout-top .item-details,
section.portfolio > ul .project-open.item-layout-bottom .item-details,
section.portfolio > ul .project-open.item-layout-top .item-gallery,
section.portfolio > ul .project-open.item-layout-bottom .item-gallery {
  width: 100%;
  float: none !important;
}
section.portfolio > ul .project-open.item-layout-top .item-gallery,
section.portfolio > ul .project-open.item-layout-bottom .item-gallery {
  margin-top: 30px;
}
section.portfolio > ul .project-open.item-layout-top.item-layout-bottom .item-gallery,
section.portfolio > ul .project-open.item-layout-bottom.item-layout-bottom .item-gallery {
  margin-top: 0;
  margin-bottom: 30px;
}
section.portfolio > ul .project-open .close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
  width: 19px;
  height: 19px;
  display: block;
  background: url(../images/close.png) no-repeat 0 0;
}
section.portfolio > ul .project-open .portfolio-gallery {
  position: relative;
  overflow: hidden;
}
section.portfolio > ul .project-open .portfolio-gallery a {
  display: block;
  text-align: center;
  width: 100%;
}
section.portfolio > ul .project-open .portfolio-gallery a img {
  max-width: 100%;
  display: inline-block;
  line-height: 1;
}
section.portfolio > ul .project-open .portfolio-gallery a i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  text-align: center;
  color: #FFF;
  padding: 10px 15px;
  background: rgba(34, 34, 34, 0.5);
  margin-top: -30px;
  margin-left: -35px;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
section.portfolio > ul .project-open .portfolio-gallery a i:hover {
  background-color: rgba(255, 186, 0, 0.8);
}
section.portfolio > ul .project-open .portfolio-gallery:hover a i {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-next,
section.portfolio > ul .project-open .portfolio-gallery .portfolio-prev {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 500;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-next span,
section.portfolio > ul .project-open .portfolio-gallery .portfolio-prev span {
  display: block;
  position: absolute;
  width: 19px;
  height: 37px;
  background: url(../images/portfolio-arrows.png) no-repeat left center;
  top: 50%;
  margin-top: -18.5px;
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-next.portfolio-prev,
section.portfolio > ul .project-open .portfolio-gallery .portfolio-prev.portfolio-prev {
  left: 0;
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-next.portfolio-prev span,
section.portfolio > ul .project-open .portfolio-gallery .portfolio-prev.portfolio-prev span {
  left: 0;
  margin-left: 20px;
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-next.portfolio-next,
section.portfolio > ul .project-open .portfolio-gallery .portfolio-prev.portfolio-next {
  right: 0;
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-next.portfolio-next span,
section.portfolio > ul .project-open .portfolio-gallery .portfolio-prev.portfolio-next span {
  background-position: right center;
  right: 0;
  margin-right: 20px;
}
section.portfolio > ul .project-open .portfolio-gallery:hover .portfolio-next,
section.portfolio > ul .project-open .portfolio-gallery:hover .portfolio-prev {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-gallery-pager {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  text-align: center;
  padding: 10px;
}
section.portfolio > ul .project-open .portfolio-gallery .portfolio-gallery-pager ul li {
  display: inline-block;
  margin: 0 3px;
}
section.portfolio > ul .project-open .share-social strong {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
section.portfolio > ul .project-open .share-social .fb-like {
  position: relative;
  top: -5px;
}
section.portfolio > ul .project-open .share-social > div,
section.portfolio > ul .project-open .share-social iframe {
  margin-right: 5px;
  display: inline-block;
}
section.portfolio > ul .project-open a {
  color: #ffba00;
}
section.portfolio > ul .project-open a:hover {
  color: #e6a700;
}
section.portfolio > ul .project-open h1 {
  font-size: 24px;
}
section.portfolio > ul .project-open h1:after {
  content: "";
  border-bottom: 1px solid #EEE;
  width: 30px;
  height: 1px;
  display: block;
  margin-top: 15px;
}
section.portfolio > ul .project-open span {
  color: #EEE;
}
section.portfolio .portfolio-pagination {
  background: #FFF;
  text-align: center;
}
section.portfolio .portfolio-pagination .pagination {
  margin: 0;
  padding: 30px 0;
  height: auto;
}
section.portfolio .portfolio-pagination .pagination li a {
  padding-left: 4px;
  padding-right: 4px;
}
section.portfolio .portfolio-pagination .load-more {
  display: inline-block;
  display: block;
  background: #EEE;
  padding: 15px 45px;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: background 350ms ease-in-out;
  -moz-transition: background 350ms ease-in-out;
  -o-transition: background 350ms ease-in-out;
  transition: background 350ms ease-in-out;
}
section.portfolio .portfolio-pagination .load-more:hover {
  background: #e1e1e1;
}
.html-content-block {
  margin: 30px 0;
}
.widget {
  padding: 50px 0 ;
}
.widget p,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
  margin: 0px;
}
.widget ul.blog-latest {
  list-style: none;
}
.widget ul.blog-latest li {
  line-height: 35px;
  font-size: 12px;
}
.widget ul.blog-latest li a:hover {
  color: #ffba00;
}
.widget ul.blog-latest li span {
  color: #888888;
}
.widget h3 {
  font-size: 26px;
}
.widget h3:after {
  content: "";
  margin: 10px 0 6px 2px;
  width: 15px;
  height: 1px;
  display: block;
  background: #EEE;
}
.widget .widget-contact {
  position: relative;
}
.widget .widget-contact .success-message {
  display: none;
  text-align: center;
}
.widget .widget-contact input,
.widget .widget-contact textarea {
  border: none;
  border-bottom: 1px dotted #cccccc;
  box-shadow: none;
  background: none;
  line-height: 20px;
  padding: 15px 0px;
  width: 100%;
  margin: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.widget .widget-contact input::-webkit-input-placeholder,
.widget .widget-contact textarea::-webkit-input-placeholder {
  color: #222;
  font-size: 12px;
}
.widget .widget-contact input:-moz-placeholder,
.widget .widget-contact textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #222;
}
.widget .widget-contact input::-moz-placeholder,
.widget .widget-contact textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #222;
}
.widget .widget-contact input:-ms-input-placeholder,
.widget .widget-contact textarea:-ms-input-placeholder {
  color: #222;
}
.widget .widget-contact input:first-child {
  margin-top: 0;
}
.widget .widget-contact input[name="email"] {
  display: none;
}
.widget .widget-contact textarea {
  margin-top: 15px;
  padding-top: 0px;
}
.widget .widget-contact .send {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  border: none;
  width: auto;
  float: right;
  outline: none;
}
.widget .widget-contact .spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  visibility: hidden;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.widget .widget-contact.is-loading .spinner {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
}
.widget .widget-contact.is-loading input,
.widget .widget-contact.is-loading textarea {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.st-menu::-webkit-scrollbar {
  display: none;
}
.st-menu .searchform {
  position: relative;
}
.st-menu .searchform label {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 60px;
  z-index: 1;
  color: #FFF;
}
.st-menu .searchform #s {
  position: relative;
  background: transparent url(../images/search.png) no-repeat right center;
  border: none;
  border-bottom: 1px solid #333;
  height: 60px;
  color: #FFF;
  padding: 0px;
  box-shadow: none;
  padding-right: 5px;
  margin-bottom: 50px;
  z-index: 5;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.st-menu .searchform #s:focus,
.st-menu .searchform #s.focused {
  background-color: #222;
  border-color: #333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.st-menu .searchform #s::-webkit-input-placeholder {
  color: #FFF;
  font-size: 13px;
}
.st-menu .searchform #s:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
.st-menu .searchform #s::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
.st-menu .searchform #s:-ms-input-placeholder {
  color: #FFF;
}
.st-menu .searchform input[type="submit"] {
  position: absolute;
  display: block;
  text-indent: -999px;
  width: 25px;
  height: 100%;
  top: 0;
  right: -2px;
  background: transparent;
  border: 0;
  z-index: 10;
  outline: none;
  cursor: pointer;
}
.st-menu > .menu-widget:last-child {
  margin-bottom: 0;
}
.st-menu .menu-widget {
  margin: 0 0 75px 0;
  color: #999;
  display: block;
  box-sizing: border-box;
}
.st-menu .menu-widget a {
  color: #ffba00;
}
.st-menu .menu-widget h2 {
  margin-bottom: 15px;
}
.st-menu .menu-widget .large-block-grid-4 > li {
  padding: 0px 20px 20px 0px;
}
.st-menu .menu-widget #recentcomments {
  list-style: disc;
  margin-left: 20px;
}
.st-menu .menu-widget #recentcomments li {
  margin-bottom: 10px;
}
.st-menu .menu-widget #recentcomments li a {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.st-menu .menu-widget .menu,
.st-menu .menu-widget.widget_archive ul,
.st-menu .menu-widget.widget_categories ul {
  list-style: disc;
  margin-left: 20px;
}
.st-menu .menu-widget .menu > li,
.st-menu .menu-widget.widget_archive ul > li,
.st-menu .menu-widget.widget_categories ul > li {
  margin-bottom: 5px;
}
.st-menu .menu-widget .menu > li:last-child,
.st-menu .menu-widget.widget_archive ul > li:last-child,
.st-menu .menu-widget.widget_categories ul > li:last-child {
  margin-bottom: 0;
}
.st-menu .menu-widget .menu > li a,
.st-menu .menu-widget.widget_archive ul > li a,
.st-menu .menu-widget.widget_categories ul > li a {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.st-menu .menu-widget .menu ul,
.st-menu .menu-widget.widget_archive ul ul,
.st-menu .menu-widget.widget_categories ul ul {
  list-style: disc;
  margin-left: 20px;
  margin-top: 5px;
}
.st-menu .menu-widget .decent-comments ul > li {
  margin-bottom: 15px;
}
.st-menu .menu-widget .decent-comments ul > li:last-child {
  margin-bottom: 0;
}
.st-menu .menu-widget .decent-comments ul > li .comment {
  position: relative;
  zoom: 1;
}
.st-menu .menu-widget .decent-comments ul > li .comment:before,
.st-menu .menu-widget .decent-comments ul > li .comment:after {
  content: "";
  display: table;
}
.st-menu .menu-widget .decent-comments ul > li .comment:after {
  clear: both;
}
.st-menu .menu-widget .decent-comments ul > li .comment .comment-avatar {
  float: left;
}
.st-menu .menu-widget .decent-comments ul > li .comment .comment-avatar img {
  margin-right: 6px;
}
.st-menu .search {
  position: relative;
  background: transparent url(../images/search.png) no-repeat right center;
  border: none;
  border-bottom: 1px solid #333;
  height: 60px;
  color: #FFF;
  padding: 0px;
  box-shadow: none;
  padding-right: 5px;
  margin-bottom: 50px;
  z-index: 5;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.st-menu .search:focus,
.st-menu .search.focused {
  background-color: #222;
  border-color: #333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.st-menu .search::-webkit-input-placeholder {
  color: #FFF;
  font-size: 13px;
}
.st-menu .search:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
.st-menu .search::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
.st-menu .search:-ms-input-placeholder {
  color: #FFF;
}
.st-menu .tweets li {
  margin: 10px 0;
  margin-bottom: 0px;
}
.st-menu .tweets li p {
  margin-bottom: 0px;
}
.st-menu .tweets li:after {
  content: "";
  margin: 10px 0 6px 2px;
  width: 15px;
  height: 1px;
  display: block;
  background: #333;
}
.st-menu .tweets li .date {
  display: inline-block;
  font-size: 10px;
  color: #444;
}
.st-menu .tweets-nav,
.st-menu .instagram-nav {
  display: block;
  margin-top: 15px;
  margin-left: 5px;
  zoom: 1;
}
.st-menu .tweets-nav:before,
.st-menu .instagram-nav:before,
.st-menu .tweets-nav:after,
.st-menu .instagram-nav:after {
  content: "";
  display: table;
}
.st-menu .tweets-nav:after,
.st-menu .instagram-nav:after {
  clear: both;
}
.st-menu .tweets-nav a,
.st-menu .instagram-nav a {
  margin: 0;
  padding: 0;
  float: left;
  background: #FFF;
  position: relative;
  display: block;
  margin-right: 4px;
  text-indent: -9999px;
  width: 8px;
  height: 8px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.st-menu .tweets-nav a:hover,
.st-menu .instagram-nav a:hover {
  background: rgba(255, 255, 255, 0.5);
}
.st-menu .tweets-nav a.active,
.st-menu .instagram-nav a.active {
  background: #ffba00;
}
.st-menu .subscribe {
  zoom: 1;
}
.st-menu .subscribe:before,
.st-menu .subscribe:after {
  content: "";
  display: table;
}
.st-menu .subscribe:after {
  clear: both;
}
.st-menu .subscribe .subscribe_input {
  background: none;
  height: 55px;
  border-color: #333333;
  outline: 0;
  box-shadow: none;
  color: #FFF;
  padding: 0px 20px;
  width: 180px;
  float: left;
  display: block;
  width: 60%;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.st-menu .subscribe #subscribe_now {
  padding: 20px 10px;
  float: right;
  display: block;
  background: #ffba00;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  width: 37%;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.st-menu .instagram-gallery {
  zoom: 1;
}
.st-menu .instagram-gallery:before,
.st-menu .instagram-gallery:after {
  content: "";
  display: table;
}
.st-menu .instagram-gallery:after {
  clear: both;
}
.st-menu .instagram-gallery img {
  max-width: 100%;
}
.st-menu .instagram-gallery a {
  position: relative;
  display: block;
  border: 5px solid #333;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.st-menu .instagram-gallery a:hover {
  border: 5px solid #444;
}
.st-menu .instagram-gallery a i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: -14px;
  font-size: 25px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.st-menu .instagram-gallery a:hover i {
  color: #FFF;
}
.contact-page p {
  padding: 0px;
  margin: 0px;
}
.contact-address {
  padding: 80px 0;
  font-size: 24px;
}
.contact-information {
  text-align: right;
  padding: 80px 0;
  color: #999;
  font-size: 16px;
}
.contact-information span {
  color: #333;
}
.contact-information p {
  margin-bottom: 20px;
}
.error-box {
  background: #EEE;
  padding: 20px;
  margin: 100px 0 50px 0;
}
.error-box .error-inner {
  border: 1px solid #d6d6d6;
  padding: 20px 30px;
}
.error-box .error-inner h1 {
  font-size: 40px;
}
.error-box .error-inner h1 small {
  font-size: 12px;
  display: block;
}
.error-box .error-inner .alert-column {
  text-align: right;
}
.try-again {
  text-align: center;
}
.try-again h3 {
  font-size: 16px;
}
.try-again .search-again .postfix {
  background: #FFF;
  border: 1px solid #EEE;
  border-left: 0px;
  color: #222;
  line-height: 50px;
}
.archives {
  padding: 35px 0;
  border-bottom: 1px solid #EEE;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0px;
}
.archives h1 {
  margin: 0px;
  font-size: 24px;
}
.search-bar {
  padding: 35px 0 10px 0;
  border-bottom: 1px solid #EEE;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0px;
}
.search-bar h1 {
  font-size: 24px;
  margin: 0px;
  margin-top: 10px;
}
.search-bar h1 span {
  color: #ffba00;
}
.search-bar .search-again .postfix {
  background: #FFF;
  border: 1px solid #EEE;
  border-left: 0px;
  color: #222;
  line-height: 50px;
}
ul.search-results li {
  list-style: none;
  border-bottom: 1px solid #EEE;
  padding: 25px 0;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
ul.search-results li:hover {
  background-color: #FAFAFA;
}
ul.search-results li .th img {
  max-width: 100%;
}
ul.search-results li h1 {
  font-size: 15px;
  margin-bottom: 0px;
}
ul.search-results li h1 a:hover {
  color: #ffba00;
}
ul.search-results li h1 a:hover span {
  color: #ffba00;
}
ul.search-results li h1 a span {
  color: #222;
  display: inline-block;
  border-bottom: 1px solid #ffba00;
  font-size: 15px;
}
ul.search-results li span {
  color: #999;
  font-size: 12px;
}
ul.search-results li.no-results {
  border-bottom: 0;
  text-align: center;
  color: #888;
  padding-top: 45px;
}
.contact-form {
  margin: 50px auto;
  position: relative;
}
.contact-form form {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.contact-form .spinner {
  position: absolute;
  margin: -22.5px -22.5px 0 0;
  left: 50%;
  top: 50%;
  visibility: hidden;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.contact-form .success-message {
  display: none;
  overflow: hidden;
}
.contact-form .success-message h3,
.contact-form .success-message h4,
.contact-form .success-message h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #FFF;
}
.contact-form .success-message .alert {
  margin-bottom: 30px;
}
.contact-form.is-loading form {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.contact-form.is-loading .spinner {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
}
.contact-form h4 {
  margin-bottom: 20px;
}
.contact-form textarea {
  height: 113px;
}
.contact-form textarea.fields_count_3 {
  height: 173px;
}
.contact-form .send {
  text-transform: uppercase;
  font-size: 18px;
  outline: 0;
  background: none;
  float: right;
  border: none;
  padding: 0px;
  margin: 0px;
}
input.has-errors,
textarea.has-errors {
  border-color: #ffaaaa !important;
}
.archives-list {
  position: relative;
  z-index: 0;
  padding-bottom: 30px;
}
.archives-list > .article.year-row:first-child {
  margin-top: 40px;
}
.archives-list:after {
  position: absolute;
  top: 0;
  display: block;
  left: 234px;
  content: "";
  min-height: 100%;
  width: 1px;
  background: #E9E9E9;
  z-index: 0;
}
.archives-list .number-words {
  text-transform: lowercase;
}
.archives-list .months {
  text-align: right;
}
.archives-list .months h1 {
  font-size: 23px;
  margin: 0px;
}
.archives-list .day {
  position: relative;
  z-index: 9999;
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
  width: 38px;
  color: #777777;
  height: 38px;
  background: #FFF;
  text-align: center;
  line-height: 38px;
  border: 1px solid #EEE;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.archives-list .day.more {
  display: block;
}
.archives-list .title {
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding: 10px 0;
  color: #666;
}
.archives-list .title:hover {
  color: #111;
}
.archives-list .article {
  margin: 25px 0;
}
.archives-list .article.is-hidden {
  display: none;
}
.archives-list .article.no-date {
  margin-top: -15px;
}
.archives-list .article.no-date .day {
  visibility: hidden;
}
.archives-list .article:hover .day {
  background: #EEE;
}
.archives-list .month-row {
  margin-top: 60px;
}
.archives-list .month-row:first-child {
  margin-top: 25px;
}
.archives-list .year-row {
  margin-top: 80px;
}
.archives-list .year-row h1 {
  font-size: 30px;
}
div.blog {
  max-width: 62.5em;
  margin-left: auto;
  margin-right: auto;
}
div.blog .pagination .centered {
  margin: 0 auto;
}
div.blog #cancel-comment-reply-link {
  display: inline-block;
  margin-bottom: 15px;
}
div.blog .comments .comment-respond {
  width: 73.6%;
  float: right;
}
div.blog .comments .comment-respond h1 {
  display: none;
}
div.blog .comments .comment-count {
  text-transform: uppercase;
  width: 135px;
  float: right;
  background: #000;
  border: 8px solid #000;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 0px 1px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px #333333;
  box-shadow: inset 0px 0px 0px 1px #333333;
  padding: 25px 0;
  color: #FFF;
  font-size: 45px;
  position: relative;
}
div.blog .comments .comment-count:after {
  position: absolute;
  content: "";
  bottom: -18px;
  margin: 0 auto;
  left: 43%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;
}
div.blog .comments h1.title {
  padding: 25px 0 0px 35px;
  margin: 0px;
}
div.blog .comments h1.title .reply {
  font-size: 14px;
  color: #999;
}
div.blog .comments h1.title .reply:hover {
  color: #ffba00;
}
div.blog .comments h1.title .reply:before {
  content: " - ";
}
div.blog .comments .comment-entry {
  color: #999;
  line-height: 20px;
  padding: 35px 0;
}
div.blog .comments .comment-entry .reply {
  padding: 35px 0 0 0;
  position: relative;
}
div.blog .comments .comment-entry .reply .comment-number {
  margin: 0px;
  background: #f4f4f4;
}
div.blog .comments .comment-entry .reply:before {
  height: 1px;
  position: absolute;
  display: block;
  content: "";
  background: #EEE;
  width: 100px;
  top: 60px;
  left: -80px;
}
div.blog .comments .comment-entry .comments-number-env {
  float: left;
}
div.blog .comments .comment-entry .comments-number-env .comment-number {
  margin-left: 85px;
  background-color: #FFF;
}
div.blog .comments .comment-entry .comment-content-env {
  padding-left: 210px;
}
div.blog .comments .comment-entry .comment-number {
  font-size: 18px;
  width: 75px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #EEE;
  background: #FFF;
  margin-left: 75px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
div.blog .comments .comment-entry .comment-number:hover {
  color: #222;
  background: #f4f4f4;
}
div.blog .comments .comment-entry h3 {
  font-size: 14px;
  color: #000;
}
div.blog .comments .comment-entry h3 span {
  font-size: 13px;
  color: #ffba00;
}
div.blog .comments .comment-entry h3 span:before {
  content: " - ";
  color: #999;
}
div.blog .comments .comment-entry h3 .date {
  text-align: right;
  display: inline-block;
  color: #999;
  float: right;
  white-space: nowrap;
}
div.blog .comments .comment-entry h3 .date:before {
  content: "";
}
div.blog .comments .comment-entry .comment-content {
  display: block;
  float: none;
}
div.blog .comments .children .comment-entry {
  padding-top: 25px;
  padding-bottom: 25px;
}
div.blog .comments .children .comment-entry .comment-container {
  margin-left: 15.3%;
  zoom: 1;
}
div.blog .comments .children .comment-entry .comment-container:before,
div.blog .comments .children .comment-entry .comment-container:after {
  content: "";
  display: table;
}
div.blog .comments .children .comment-entry .comment-container:after {
  clear: both;
}
div.blog .comments .children .comment-entry .comment-container .comment-content-env {
  padding-left: 190px;
}
div.blog .comments .children .comment-entry .comment-number {
  background: #f4f4f4;
  position: relative;
  z-index: 2;
}
div.blog .comments .children .comments-number-env {
  position: relative;
}
div.blog .comments .children .comments-number-env:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #eeeeee;
  z-index: 1;
}
div.blog .comments .children .children .comments-number-env {
  padding-left: 80px;
}
div.blog .comments .children .children .comment-content-env {
  padding-left: 270px !important;
}
div.blog .comments .children .children .children .comments-number-env {
  padding-left: 160px;
}
div.blog .comments .children .children .children .comment-content-env {
  padding-left: 340px !important;
}
div.blog .blog-post {
  margin-top: 30px;
  margin-bottom: 60px;
  zoom: 1;
}
div.blog .blog-post:before,
div.blog .blog-post:after {
  content: "";
  display: table;
}
div.blog .blog-post:after {
  clear: both;
}
div.blog .blog-post:after {
  content: "";
  display: block;
  position: relative;
  width: 1px;
  height: 25px;
  background: #EEE;
  margin: 0px auto;
  top: 30px;
}
div.blog .blog-post.no-image .date {
  margin: 0px;
}
div.blog .blog-post.no-image .post-content {
  padding-top: 0px;
}
div.blog .blog-post.format-video .date,
div.blog .blog-post.audio-media-post .date,
div.blog .blog-post.format-audio .date {
  margin-top: -23%;
}
div.blog .blog-post .image {
  overflow: hidden;
  position: relative;
}
div.blog .blog-post .image img {
  max-width: 100%;
  width: 100%;
}
div.blog .blog-post .image .gallery-images {
  position: absolute;
  left: 25%;
  bottom: 10px;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px;
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
div.blog .blog-post .image .gallery-images a {
  display: inline-block;
  margin-right: 6px;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
div.blog .blog-post .image .gallery-images a img {
  width: 35px;
}
div.blog .blog-post .image .gallery-images a:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
  -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
}
div.blog .blog-post .image:hover .gallery-images {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
div.blog .blog-post .image .hover {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 38%;
  bottom: 36%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  visibility: hidden;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
div.blog .blog-post .image .hover i,
div.blog .blog-post .image .hover em {
  font-size: 70px;
  color: #FFF;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -35px;
  line-height: 70px;
  z-index: 1;
  text-align: right;
}
div.blog .blog-post .image .hover i {
  background: url(../images/arrow.png) no-repeat center center;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  -ms-transform: translate3d(-100px, 0, 0);
  -o-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  right: 30px;
}
div.blog .blog-post .image .hover em {
  font-style: normal;
  font-size: 25px;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
div.blog .blog-post .image .zoom-hover {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 1;
  color: #FFF;
  text-align: center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
div.blog .blog-post .image:hover .hover {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
}
div.blog .blog-post .image:hover .hover em {
  -webkit-transform: translate3d(-65px, 0, 0);
  -moz-transform: translate3d(-65px, 0, 0);
  -ms-transform: translate3d(-65px, 0, 0);
  -o-transform: translate3d(-65px, 0, 0);
  transform: translate3d(-65px, 0, 0);
}
div.blog .blog-post .image:hover .hover i {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}
div.blog .blog-post .image:hover .zoom-hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
div.blog .blog-post.no-thumbnail .date {
  margin-top: 50px;
}
div.blog .blog-post.external-video .date {
  margin-top: 50px;
}
div.blog .blog-post.external-video iframe {
  position: relative;
  top: 15px;
}
div.blog .blog-post .quote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  -webkit-box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.15);
  border: 1px solid #EEE;
  font-weight: 300;
  color: #999;
  padding: 20px 50px;
  line-height: 35px;
  position: relative;
  background: #FFF;
}
div.blog .blog-post .quote:after {
  content: " ";
  background: url(../images/quote.png) no-repeat;
  width: 48px;
  height: 34px;
  display: block;
  position: absolute;
  right: 18px;
  top: -16px;
}
div.blog .blog-post .quote .author,
div.blog .blog-post .quote cite {
  font-style: normal;
  color: #222;
  font-size: 15px;
  display: block;
  float: right;
}
div.blog .blog-post .quote .author:before,
div.blog .blog-post .quote cite:before {
  content: " - ";
}
div.blog .blog-post .post-content {
  padding: 45px 0px 0px 35px;
  color: #777;
  position: relative;
}
div.blog .blog-post .post-content h1 {
  color: #222;
  font-size: 25px;
  margin: 0px 0px 10px 0px;
}
div.blog .blog-post .post-content h1 a:hover {
  color: #ffba00;
}
div.blog .blog-post .post-content .post-content-full h1,
div.blog .blog-post .post-content .post-content-full h2,
div.blog .blog-post .post-content .post-content-full h3,
div.blog .blog-post .post-content .post-content-full h4,
div.blog .blog-post .post-content .post-content-full h5 {
  font-weight: 500;
}
div.blog .blog-post .post-content .post-content-full h1 {
  font-size: 33px;
}
div.blog .blog-post .post-content .post-content-full h2 {
  font-size: 28px;
}
div.blog .blog-post .post-content .post-content-full h3 {
  font-size: 20px;
}
div.blog .blog-post .post-content .post-content-full h4 {
  font-size: 18px;
}
div.blog .blog-post .post-content .post-content-full h5 {
  font-size: 14px;
}
div.blog .blog-post .post-content .post-content-full a {
  color: #ffba00;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
div.blog .blog-post .post-content .post-content-full a:hover {
  color: #cc9500;
}
div.blog .blog-post .post-content .post-content-full .dropcap:first-letter {
  font-size: 42px;
  float: left;
  margin-right: 10px;
  line-height: 1;
  margin-top: 3px;
}
div.blog .blog-post .post-content .post-content-full .dropcap.dc2:first-letter {
  background: #333333;
  color: #f5f5f5;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 20px;
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
}
div.blog .blog-post .post-content .post-content-full blockquote {
  background: #eee url(../images/quote_open.png) no-repeat 30px 30px;
  padding: 30px;
  padding-left: 65px;
  margin-top: 30px;
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}
div.blog .blog-post .post-content .post-content-full blockquote p {
  font-size: 20px;
  color: #666666;
  font-weight: 500;
}
div.blog .blog-post .post-content .post-content-full blockquote p:last-child {
  margin-bottom: 0;
}
div.blog .blog-post .post-content .post-content-full blockquote cite {
  display: block;
  margin-top: 10px;
  text-align: right;
  font-size: 16px;
}
div.blog .blog-post .post-content .post-content-full table {
  background: rgba(238, 238, 238, 0.5);
  display: inline-block;
  margin-bottom: 20px;
}
div.blog .blog-post .post-content .post-content-full table td,
div.blog .blog-post .post-content .post-content-full table th {
  padding: 5px 8px;
  text-align: left;
}
div.blog .blog-post .post-content .post-content-full table th {
  border-bottom: 1px solid #eee;
}
div.blog .blog-post .post-content .post-content-full table .odd {
  background: #eeeeee;
}
div.blog .blog-post .post-content .post-content-full table a {
  text-decoration: underline;
  color: #525252;
}
div.blog .blog-post .post-content .post-content-full table a:hover {
  color: #ff4e50;
}
div.blog .blog-post .post-content .post-content-full dl {
  text-align: left;
}
div.blog .blog-post .post-content .post-content-full dl dt {
  font-weight: bold;
}
div.blog .blog-post .post-content .post-content-full dl dd {
  margin: 0;
  margin-bottom: 20px;
}
div.blog .blog-post .post-content .post-content-full ul,
div.blog .blog-post .post-content .post-content-full ol {
  list-style: disc;
  text-align: left;
  margin-bottom: 20px;
}
div.blog .blog-post .post-content .post-content-full ul li,
div.blog .blog-post .post-content .post-content-full ol li {
  margin-left: 10px;
  margin-top: 5px;
}
div.blog .blog-post .post-content .post-content-full ol {
  list-style: decimal;
}
div.blog .blog-post .post-content .post-content-full address {
  border-left: 5px solid #d6d6d6;
  background: #FAFAFA;
  padding: 20px;
  display: block;
  margin-bottom: 10px;
}
div.blog .blog-post .post-content .post-content-full pre {
  position: relative;
  font-family: 'Courier New', sans-serif;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  background: #eee url(../images/pre-stripes.png) left -15px;
  display: block;
  padding: 5px 20px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: left;
}
div.blog .blog-post .post-content .post-content-full img {
  max-width: 100%;
  display: block;
  max-width: 100% !important;
  height: auto !important;
}
div.blog .blog-post .post-content .post-content-full .alignleft {
  float: left;
  margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
div.blog .blog-post .post-content .post-content-full .alignright {
  float: right;
  margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
  clear: both;
}
div.blog .blog-post .post-content .post-content-full .aligncenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div.blog .blog-post .post-content .post-content-full .wp-caption-text {
  font-style: italic;
}
div.blog .blog-post .post-content .post-content-full p {
  margin-bottom: 25px;
}
div.blog .blog-post .post-content .post-content-full > div {
  max-width: 100%;
}
div.blog .blog-post .post-content .post-content-full form input[type="text"],
div.blog .blog-post .post-content .post-content-full form input[type="password"] {
  margin-left: 10px;
}
div.blog .blog-post .post-content .post-content-full form input[type="submit"] {
  padding: 8px 20px;
}
div.blog .blog-post .post-content .post-content-full .wp-caption {
  max-width: 100% !important;
}
div.blog .blog-post .post-content .post-content-full .wp-video .mejs-controls,
div.blog .blog-post .post-content .post-content-full .wp-audio-shortcode .mejs-controls {
  padding-left: 20px;
}
div.blog .blog-post .post-content .post-content-full .wp-video .mejs-controls .mejs-playpause-button,
div.blog .blog-post .post-content .post-content-full .wp-audio-shortcode .mejs-controls .mejs-playpause-button,
div.blog .blog-post .post-content .post-content-full .wp-video .mejs-controls .mejs-playpause-button,
div.blog .blog-post .post-content .post-content-full .wp-audio-shortcode .mejs-controls .mejs-playpause-button {
  margin-left: 0;
}
div.blog .blog-post .post-content .post-content-full img,
div.blog .blog-post .post-content .post-content-full iframe {
  max-width: 100%;
}
div.blog .blog-post .post-content .post-content-full ul,
div.blog .blog-post .post-content .post-content-full ol {
  margin-left: 20px;
}
div.blog .blog-post .post-content .post_pagination {
  border-top: 1px solid #EEE;
  padding-top: 15px;
}
div.blog .blog-post .post-content .post_pagination .current {
  font-weight: bold;
}
div.blog .blog-post .post-content .post_pagination a,
div.blog .blog-post .post-content .post_pagination span,
div.blog .blog-post .post-content .post_pagination strong {
  display: inline-block;
}
div.blog .blog-post .post-content .post_pagination a,
div.blog .blog-post .post-content .post_pagination span {
  margin: 0 2px;
}
div.blog .blog-post .post-content .post_pagination strong {
  font-weight: normal;
  margin-right: 10px;
}
div.blog .blog-post .post-info {
  width: 135px;
  float: right;
}
div.blog .blog-post .post-info .category {
  border: 1px solid #dadada;
  display: block;
  padding: 5px 10px;
  color: #333;
  margin-top: 10px;
  line-height: 20px;
  background: #FFF;
  max-height: 112px;
  overflow: hidden;
}
div.blog .blog-post .post-info .category a:hover {
  color: #ffba00;
}
div.blog .blog-post .post-info .comments {
  background: #eeeeee;
  border: 3px solid #EEE;
  box-shadow: inset 0px 0px 0px 1px #dedede;
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: #333;
  margin-top: 10px;
  position: relative;
}
div.blog .blog-post .post-info .comments:after {
  display: block;
  position: absolute;
  content: " ";
  right: 10px;
  width: 0px;
  bottom: -10px;
  height: 0px;
  border-style: solid;
  border-width: 0 7px 7px 0;
  border-color: transparent #eeeeee transparent transparent;
  line-height: 0px;
}
div.blog .blog-post .post-info .comments:hover {
  background: #ffba00;
  border-color: #ffba00;
  box-shadow: inset 0px 0px 0px 1px #ffcf4d;
  color: #FFF;
}
div.blog .blog-post .post-info .comments:hover:after {
  border-color: transparent #ffba00 transparent transparent;
  _border-color: #000000 #ffba00 #ffba00 #000000;
}
div.blog .blog-post .date {
  text-transform: uppercase;
  width: 135px;
  float: right;
  background: #EEE;
  border: 8px solid #EEE;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 0px 1px #d6d6d6;
  -moz-box-shadow: inset 0px 0px 0px 1px #d6d6d6;
  box-shadow: inset 0px 0px 0px 1px #d6d6d6;
  padding: 25px 0;
  margin-top: -35%;
}
div.blog .blog-post .date .day {
  display: block;
  font-size: 50px;
}
div.blog .blog-post .date .month {
  display: block;
  font-size: 16px;
}
div.blog .blog-post .date .month:after {
  content: " ";
  display: block;
  background: #d6d6d6;
  margin: 20px auto;
  position: relative;
  width: 25px;
  height: 1px;
}
div.blog .blog-post .post-password-form {
  margin-top: 20px;
}
div.blog .blog-post .post-password-form label input {
  margin-left: 0 !important;
  margin-top: 10px;
}
div.blog.single {
  position: relative;
  z-index: 2;
}
div.blog.single .author-page {
  margin: 30px 0 150px 0;
}
div.blog.single:before {
  content: " ";
  width: 1px;
  background: #EEE;
  display: block;
  top: -30px;
  bottom: 0px;
  left: 15.25%;
  position: absolute;
  z-index: -1;
}
div.blog.single .reply-form {
  margin-top: 40px;
  position: relative;
  color: #777;
}
div.blog.single .reply-form h1 {
  margin: 40px 0;
}
div.blog.single .reply-form h1:before {
  width: 25px;
  height: 1px;
  background: #EEE;
  content: " ";
  display: block;
  margin: 20px 0;
}
div.blog.single .reply-form .rules {
  font-size: 11px;
}
div.blog.single .blog-post .post-info .category {
  max-height: 100%;
}
div.blog.single .blog-post:after {
  background: #FFF;
}
.author-page {
  color: #999999;
  line-height: 20px;
  margin: 50px 0;
}
.author-page .image {
  background: #EEE;
  padding: 12px;
  display: inline-block;
  float: right;
}
.author-page .image img {
  width: 110px;
  border: 4px solid #FFF;
  -webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.3);
}
.author-page .author-content {
  padding-left: 35px;
}
.author-page .author-content h1 {
  font-size: 18px;
}
.author-page .author-content h1 span {
  color: #CCC;
}
.author-page .author-content h3 {
  font-size: 14px;
  color: #999;
}
.clients-carousel {
  position: relative;
  padding: 40px 0;
  padding-bottom: 20px;
  overflow: hidden;
  z-index: 0;
}
.clients-carousel li {
  padding: 20px 0px;
  text-align: center;
  position: relative;
  z-index: 1;
  display: block;
}
.separator {
  display: block;
  background-color: #EEE;
  margin: 10px 0;
  height: 1px;
}
footer {
  border-top: 1px solid #EEE;
  padding: 40px 0 50px;
  display: block;
}
footer .social-networks {
  text-align: right;
}
footer .social-networks a {
  margin: 0 5px;
  -webkit-transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
footer .social-networks a.facebook:hover {
  color: #3B5998;
}
footer .social-networks a.twitter:hover {
  color: #4099FF;
}
footer .social-networks a.dribbble:hover {
  color: #c73b9f;
}
footer .social-networks a.vimeo:hover {
  color: #4EBBFF;
}
footer .social-networks a.youtube:hover {
  color: #FF3333;
}
footer .social-networks a.linkedin:hover {
  color: #4875B4;
}
footer .social-networks a.instagram:hover {
  color: #3f729b;
}
footer .social-networks a.pinterest:hover {
  color: #cc2127;
}
.breadcrumb-env-shortcode {
  margin-bottom: 30px;
}
.breadcrumb-env {
  margin: 30px auto;
}
.breadcrumb {
  display: block;
  padding: 15px 20px;
  margin: 0 0;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border: 1px solid #EEE;
}
.breadcrumb > span,
.breadcrumb > a {
  display: inline-block;
  padding: 0 10px;
}
.breadcrumb > span {
  color: #ffba00;
}
.breadcrumb > span.paged {
  color: #a2a2a2;
  padding-left: 0;
  font-size: 12px;
}
.breadcrumb > *:first-child {
  padding-left: 0;
}
.breadcrumb > *:last-child {
  padding-right: 0;
}
html body .wp-video,
html body .wp-audio-shortcode {
  width: 100% !important;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.06);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.06);
  box-shadow: 0 1px 1px rgba(0,0,0,.06);
}
html body .wp-video .mejs-video,
html body .wp-audio-shortcode .mejs-video,
html body .wp-video .mejs-layer,
html body .wp-audio-shortcode .mejs-layer {
  width: 100% !important;
}
html body .wp-video .mejs-video,
html body .wp-audio-shortcode .mejs-video {
  background: #000;
}
html body .wp-video .mejs-video .wp-video-shortcode,
html body .wp-audio-shortcode .mejs-video .wp-video-shortcode {
  display: block;
  margin: 0 auto;
}
html body .wp-video .mejs-video .mejs-layers .mejs-overlay-play .mejs-overlay-button,
html body .wp-audio-shortcode .mejs-video .mejs-layers .mejs-overlay-play .mejs-overlay-button {
  zoom: 1 !important;
  filter: alpha(opacity=0) !important;
  -webkit-opacity: 0 !important;
  -moz-opacity: 0 !important;
  opacity: 0 !important;
}
html body .wp-video .mejs-controls,
html body .wp-audio-shortcode .mejs-controls {
  background: #FFF;
  border-top: 1px solid #d6d6d6;
  height: auto;
  padding: 20px;
  padding-left: 25%;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
html body .wp-video .mejs-controls:after,
html body .wp-audio-shortcode .mejs-controls:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  width: 2px;
}
html body .wp-video .mejs-controls .mejs-playpause-button,
html body .wp-audio-shortcode .mejs-controls .mejs-playpause-button {
  margin-left: 32px;
}
html body .wp-video .mejs-controls .mejs-time span,
html body .wp-audio-shortcode .mejs-controls .mejs-time span {
  color: #222;
  padding: 0 10px;
}
html body .wp-video .mejs-controls .mejs-time-rail,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail {
  padding-top: 8px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  position: relative;
}
html body .wp-video .mejs-controls .mejs-time-rail span,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span {
  height: 5px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
html body .wp-video .mejs-controls .mejs-time-rail span:after,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span:after {
  background: #FFF;
  height: 3px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
  content: '';
  position: absolute;
}
html body .wp-video .mejs-controls .mejs-time-rail span.mejs-time-total,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span.mejs-time-total {
  background: rgba(214, 214, 214, 0.5);
}
html body .wp-video .mejs-controls .mejs-time-rail span.mejs-time-current,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span.mejs-time-current {
  background: #ffba00;
}
html body .wp-video .mejs-controls .mejs-time-rail span.mejs-time-loaded,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span.mejs-time-loaded {
  background: #222;
}
html body .wp-video .mejs-controls .mejs-time-rail span.mejs-time-float,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span.mejs-time-float {
  height: 16px;
  background: #FFF;
  border: 1px solid #d6d6d6;
  line-height: 12px;
  font-size: 11px;
}
html body .wp-video .mejs-controls .mejs-time-rail span.mejs-time-float span,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span.mejs-time-float span {
  height: auto;
}
html body .wp-video .mejs-controls .mejs-time-rail span.mejs-time-float .mejs-time-float-corner,
html body .wp-audio-shortcode .mejs-controls .mejs-time-rail span.mejs-time-float .mejs-time-float-corner {
  border: #222 transparent transparent transparent;
}
html body .wp-video .mejs-controls .mejs-button button,
html body .wp-audio-shortcode .mejs-controls .mejs-button button {
  background: url(../images/audio-controls.png) no-repeat left top;
  width: 17px;
  height: 17px;
  outline: 0;
  border: 0;
}
html body .wp-video .mejs-controls .mejs-fullscreen-button,
html body .wp-audio-shortcode .mejs-controls .mejs-fullscreen-button {
  position: relative;
  width: 45px;
}
html body .wp-video .mejs-controls .mejs-fullscreen-button:before,
html body .wp-audio-shortcode .mejs-controls .mejs-fullscreen-button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
  bottom: -20px;
  width: 1px;
  background: #d6d6d6;
}
html body .wp-video .mejs-controls .mejs-fullscreen-button button,
html body .wp-audio-shortcode .mejs-controls .mejs-fullscreen-button button {
  margin-left: 25px;
}
html body .wp-video .mejs-controls .mejs-playpause-button button,
html body .wp-audio-shortcode .mejs-controls .mejs-playpause-button button {
  background-position: -80px center;
}
html body .wp-video .mejs-controls .mejs-playpause-button.mejs-pause button,
html body .wp-audio-shortcode .mejs-controls .mejs-playpause-button.mejs-pause button {
  background-position: -99px center;
}
html body .wp-video .mejs-controls .mejs-volume-button,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-button {
  margin-right: 10px;
}
html body .wp-video .mejs-controls .mejs-volume-button button,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-button button {
  background-position: -27px center;
}
html body .wp-video .mejs-controls .mejs-volume-button.mejs-unmute button,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-button.mejs-unmute button {
  background-position: -55px center;
}
html body .wp-video .mejs-controls .mejs-volume-slider,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-slider {
  background: #FFF;
  border: 0;
}
html body .wp-video .mejs-controls .mejs-volume-slider .mejs-volume-total,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-slider .mejs-volume-total {
  background: #d6d6d6;
}
html body .wp-video .mejs-controls .mejs-volume-slider .mejs-volume-current,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-slider .mejs-volume-current,
html body .wp-video .mejs-controls .mejs-volume-slider .mejs-volume-handle,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-slider .mejs-volume-handle {
  background: #ffba00;
}
html body .wp-video .mejs-controls .mejs-volume-slider .mejs-volume-handle,
html body .wp-audio-shortcode .mejs-controls .mejs-volume-slider .mejs-volume-handle {
  left: 50%;
  margin-left: -7px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
html body .wp-video .mejs-controls .mejs-horizontal-volume-slider,
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider {
  margin-top: 3px;
  left: 10px;
}
html body .wp-video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
html body .wp-video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
html body .wp-video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle,
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  height: 2px;
}
html body .wp-video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #d6d6d6;
}
html body .wp-video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
html body .wp-video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle,
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  background: #ffba00;
}
.mejs-fullscreen .wp-video .mejs-video .mejs-controls {
  padding-left: 20px !important;
}
.mejs-fullscreen .wp-video .mejs-video .mejs-controls .mejs-playpause-button {
  margin-left: 0;
}
.audio-shortcode-container {
  border: 1px solid #EEE;
}
html body .wp-audio-shortcode {
  height: 65px !important;
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}
html body .wp-audio-shortcode .mejs-controls {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  position: relative;
  border: 0;
}
html body .wp-audio-shortcode .mejs-controls .mejs-volume-button {
  position: relative;
}
html body .wp-audio-shortcode .mejs-controls .mejs-volume-button button {
  margin-left: 20px;
}
html body .wp-audio-shortcode .mejs-controls .mejs-volume-button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
  bottom: -20px;
  width: 1px;
  background: #d6d6d6;
}
html body .wp-audio-shortcode .mejs-controls .mejs-horizontal-volume-slider > div {
  cursor: pointer !important;
}
.comments-pagination {
  border-top: 1px solid #EEE;
  padding-top: 15px;
  text-align: center;
}
.comments-pagination .prev {
  float: left;
  margin-left: 0;
}
.comments-pagination .next {
  float: right;
  margin-right: 0;
}
.comments-pagination .current {
  font-weight: bold;
  color: #222;
}
.comments-pagination .page-numbers {
  margin: 0 2px;
}
.comments-pagination a {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.comments-pagination a:hover {
  color: #ffba00;
}
body .fso-overlay {
  background: rgba(255, 186, 0, 0.9);
}
body .fso-overlay nav ul li a {
  padding-left: 30px;
  padding-right: 30px;
}
body .fso-overlay nav ul li a span {
  display: inline-block;
  margin: 0 10px;
  color: #FFF;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
body .fso-overlay nav ul li a em {
  font-style: normal;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
body .fso-overlay nav ul li a:hover {
  color: #222;
}
body .fso-overlay nav ul li a:hover span {
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
body .fso-overlay nav ul li a:hover em {
  border-bottom-color: #222 !important;
}
body .fso-overlay nav ul li a.current em {
  display: inline-block;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.9);
}
body .fso-overlay nav ul li a.current span {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
body .fso-overlay nav.categories-count-6 {
  top: 40%;
}
section.page {
  margin: 30px 0;
}
.mobile-menu-container {
  zoom: 1;
}
.mobile-menu-container:before,
.mobile-menu-container:after {
  content: "";
  display: table;
}
.mobile-menu-container:after {
  clear: both;
}
.mobile-menu-container .main-nav {
  padding: 0px;
  margin-top: -45px;
  margin-bottom: 60px;
}
.mobile-menu-container .main-nav li {
  width: 100%;
  display: block;
  margin-left: 0px;
}
.mobile-menu-container .main-nav li a {
  border-bottom: 2px solid #282828;
  color: #999;
  padding: 15px 0;
}
.mobile-menu-container .main-nav li a:hover {
  border-bottom: 2px solid #282828;
  color: #FFF;
}
.mobile-menu-container .main-nav li.current-menu-item > a {
  color: #FFF;
}
.mobile-menu-container .main-nav li ul {
  display: block;
  position: relative;
  border: none;
  box-shadow: none;
  margin: 0;
  width: 100%;
}
.mobile-menu-container .main-nav li ul li a {
  padding-left: 10%;
}
.mobile-menu-container .main-nav li ul li ul {
  background: none;
}
.mobile-menu-container .main-nav li ul li ul li a {
  padding-left: 20%;
}
.mobile-menu-container .main-nav li ul li ul li ul {
  background: none;
}
.mobile-menu-container .main-nav li ul li ul li ul li a {
  padding-left: 25%;
}
.mobile-menu-container .main-nav li ul.hidden-text li a span {
  opacity: 1;
}
.mobile-menu-container .main-nav li.sidebar-menu {
  display: block;
  text-align: left;
  float: right;
  z-index: 9999;
  border-bottom: 2px solid #333;
}
.mobile-menu-container .main-nav li.sidebar-menu button {
  display: inline-block;
  margin: 0px;
  background-image: url(../images/menu_light.png);
  background-position: left center;
  width: 100%;
  padding: 20px 0;
}
.mobile-menu-container .main-nav li.sidebar-menu button:after {
  content: "Menu";
  text-align: right;
  margin-left: 20px;
  position: absolute;
  left: 50px;
  text-transform: uppercase;
}
.mobile-menu-container .main-nav li.sidebar-menu a {
  display: block;
}
.mobile-menu-container .main-nav li a {
  padding: 15px 0;
  display: block;
  border-bottom: 2px solid #282828;
}
.icon-home {
  background: none !important;
}
.prev_next_project {
  margin-bottom: 30px;
}
.nav-menu-env.row {
  position: relative;
  z-index: 120;
}
.portfolio-filter-upper {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}
.portfolio-filter-upper li {
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;
}
.portfolio-filter-upper li .current {
  font-weight: bold;
}
.portfolio-filter-upper li em {
  font-style: normal;
}
.portfolio-filter-upper li span {
  color: rgba(34, 34, 34, 0.7);
  margin-left: 5px;
  display: inline-block;
}
.portfolio-filter-upper > li:first-child {
  margin-left: 0;
}
.portfolio-filter-upper > li:last-child {
  margin-right: 0;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f3b100;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.admin-bar {
  overflow: hidden;
  padding-bottom: 32px;
}
.hidden {
  display: none !important;
}
ul.pagination.center {
  text-align: center;
}
ul.pagination.center li {
  float: none;
  display: inline-block;
}
ul.pagination li.active a {
  font-weight: bold;
  color: #000;
}
.type-attachment .attachment a {
  display: block;
}
.type-attachment .attachment a img {
  display: block;
  width: 100%;
}
.gallery-icon {
  text-align: center;
}
.gallery-icon a {
  display: inline-block;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* Common styles and resets */
.dotstyle ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 16px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}
.dotstyle li a:focus {
  outline: none;
}
/* Small dot with stroke */
.dotstyle-smalldotstroke li {
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.dotstyle-smalldotstroke li a {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.dotstyle-smalldotstroke li a:hover,
.dotstyle-smalldotstroke li a:focus,
.dotstyle-smalldotstroke li.current a {
  background-color: white;
}
.dotstyle-smalldotstroke li.current a {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
.dotstyle-smalldotstroke li.current {
  box-shadow: 0 0 0 2px white;
}
.retina-display {
  display: none;
}
.content-column {
  margin-bottom: 15px;
  color: #777;
}
.content,
.content-column {
  line-height: 1.4;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 789px) {
  .footer-block {
    text-align: center;
  }
  .social-networks {
    text-align: center !important;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .row {
    width: 92%;
  }
  .contact-address {
    border-bottom-color: #EEE !important;
  }
  .clients-carousel {
    overflow: hidden;
    max-width: 100%;
  }
  .st-content-inner > .row > header .header-container > nav.nav-items-4 > .main-nav > li {
    margin-left: 20px;
  }
  .st-content-inner > .row > header .header-container > nav.more-than-5 > .main-nav > li {
    margin-left: 14px;
  }
  .archives-list:after {
    left: 29.5%;
  }
  .archives-list .months {
    text-align: left;
  }
  .archives-list .months h1 {
    left: 80px;
  }
  div.blog .blog-post .post-content {
    padding: 30px 0px 0px 5px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  div.blog .blog-post .post-content {
    padding-top: 35px;
  }
  div.blog .blog-post .date,
  div.blog .blog-post.no-thumbnail .date,
  div.blog .blog-post.external-video .date {
    margin-top: 40px;
  }
}
@media screen and (min-width: 459px) and (max-width: 789px) {
  section.portfolio > ul li .project-info {
    padding: 20px;
  }
  section.portfolio > ul li .project-info h4 {
    font-size: 18px;
  }
  section.portfolio > ul li .project-info > p {
    max-height: 44px;
    overflow: hidden;
  }
  section.portfolio > ul li .project-info .categories {
    left: 20px;
    bottom: 20px;
    font-size: 12px;
  }
  section.portfolio > ul li .project-info .like {
    right: 20px;
    bottom: 20px;
  }
  .portfolio-filter-upper li {
    margin: 0 5px;
  }
}
@media screen and (max-width: 320px) {
  .st-effect-3 .st-effect-3.st-menu {
    padding: 30px 25px;
    width: 300px;
  }
  .left-sidebar .st-effect-3 .pusher {
    -webkit-transform: translate3d(-400px, 0, 0);
    -moz-transform: translate3d(-400px, 0, 0);
    -ms-transform: translate3d(-400px, 0, 0);
    -o-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0);
  }
  .st-effect-3 .st-effect-3.st-menu {
    -webkit-transform: translate3d(400px, 0, 0);
    -moz-transform: translate3d(400px, 0, 0);
    -ms-transform: translate3d(400px, 0, 0);
    -o-transform: translate3d(400px, 0, 0);
    transform: translate3d(400px, 0, 0);
  }
}
@media screen and (max-width: 600px) {
  html #wpadminbar {
    margin-top: -46px !important;
  }
}
@media screen and (max-width: 782px) {
  html[lang] {
    margin-top: 0 !important;
  }
  .retina-display {
    display: block;
  }
  .retina-display + img {
    display: none;
  }
}
@media only screen and (max-width: 40em) {
  .st-content-inner > .row > header.centered-logo .header-container {
    display: table;
  }
  .st-content-inner > .row > header.centered-logo .header-container > .logo,
  .st-content-inner > .row > header.centered-logo .header-container > nav {
    display: table-cell;
  }
  .st-content-inner > .row > header.centered-logo .header-container > .logo {
    text-align: left;
  }
  .st-content-inner > .row > header.centered-logo .header-container > nav {
    float: right;
  }
  .st-content-inner > .row > header .header-container > nav > .main-nav > li {
    display: none;
  }
  .st-content-inner > .row > header .header-container > nav .main-nav > li.sidebar-menu {
    display: block !important;
  }
  .st-content-inner > .row > header .header-container > nav .main-nav {
    margin-top: 0 !important;
  }
  .st-content-inner > .row > header {
    padding: 20px 0;
  }
  .large-12 {
    padding: 0 25px;
  }
  .widget {
    padding: 20px 20px 20px 25px;
    border-top: 1px solid #EEE;
  }
  footer .social-networks {
    text-align: center;
    padding: 20px 0;
  }
  footer {
    text-align: center;
    padding: 30px 0;
  }
  .contact-address {
    padding: 25px;
    border-bottom: 1px solid #333;
  }
  .contact-information {
    padding: 25px;
    text-align: left;
  }
  .clients-carousel {
    margin: 0px !important;
  }
  .search-bar {
    padding: 20px 15px;
  }
  .search-bar h1 {
    margin-bottom: 20px;
  }
  div.blog.single:before {
    display: none;
  }
  div.blog .blog-post .post-content {
    padding: 15px;
  }
  .author-page .author-content {
    padding: 15px;
  }
  div.blog.single .author-page {
    padding: 15px 0;
    margin: 0px;
  }
  .author-page .image {
    float: none;
    margin-left: 15px;
  }
  div.blog.single .blog-post:after {
    display: none;
  }
  div.blog .blog-post {
    margin: 25px auto;
  }
  div.blog .blog-post .post-info {
    float: left;
  }
  .archives-list {
    padding: 0px 15px;
  }
  .archives-list .months {
    text-align: left;
  }
  .archives-list .months h1 {
    margin-bottom: 25px;
    position: relative;
    z-index: 10000;
  }
  div.blog .blog-post.no-thumbnail .date {
    margin: 0px 15px;
  }
  div.blog .blog-post .post-info .category {
    margin-top: 0px;
  }
  div.blog .blog-post:after {
    display: none;
  }
  div.blog .blog-post .image {
    margin-bottom: 10px;
  }
  div.blog .blog-post .date {
    margin-top: -15%;
    margin-left: 30px;
    float: left;
    width: 115px;
    margin-right: 10px;
  }
  .archives-list:after {
    left: 45px;
  }
  .archives-list .article {
    margin: 0px;
  }
  section.portfolio .portfolio-pagination .load-more {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .quotes {
    font-size: 20px;
    padding: 50px;
  }
  div.blog .comments .comment-entry .comment-content-env {
    padding-left: 90px;
  }
  div.blog .comments .children .comment-entry .comment-container,
  div.blog .comments .children .children .comments-number-env {
    margin-left: 0px ;
    padding: 0px;
  }
  div.blog .comments .children .children .children .comments-number-env {
    padding: 0px;
  }
  div.blog .comments .children .comments-number-env:before {
    display: none;
  }
  div.blog .comments .children .comment-entry .comment-container .comment-content-env {
    padding-left: 90px !important;
    margin: 0px;
  }
  div.blog .comments .comment-entry {
    padding: 15px 0;
  }
  div.blog .comments .comment-entry .comments-number-env .comment-number {
    margin-left: 15px;
  }
  div.blog .comments h1.title {
    padding-left: 0px;
    margin-bottom: 20px;
  }
  div.blog .blog-post .date .month:after {
    display: none;
  }
  div.blog .blog-post .date .day {
    font-size: 25px;
  }
  div.blog .comments .children .comment-entry {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
  }
  div.blog.single .reply-form {
    padding: 0 15px;
    margin: 0px;
  }
  div.blog.single .comments {
    padding: 0 15px;
  }
  div.blog .comments .comment-respond {
    width: 100%;
    padding: 0 15px;
  }
  div.blog .comments .comment-respond small {
    font-size: 100%;
  }
  div.blog .comments .comment-entry .comment-number {
    width: 40px;
  }
  div.blog .comments .comment-count {
    width: 100%;
    padding: 10px;
  }
  div.blog .comments h1.title .reply {
    display: block;
  }
  .mobile-menu-trigger {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
    color: #222;
  }
  body .fso-overlay nav ul li a {
    font-size: 18px;
  }
  .fso-overlay ul li {
    height: auto !important;
  }
  .fso-overlay .overlay-close {
    background-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 782px) {
  .st-content-inner > .row > header {
    padding: 25px 0;
  }
  .admin-bar .container {
    margin-top: 46px;
  }
  .st-content-inner > .row > header .header-container > nav .main-nav {
    margin-top: -5px;
  }
}
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xlarge screens */
@media screen and (max-width: 600px) {
  div.blog .blog-post .post-info {
    display: none;
  }
  div.blog .blog-post .date {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 25px;
    left: 25px;
    width: auto;
    bottom: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  div.blog .blog-post .date span {
    display: inline-block !important;
  }
  div.blog .blog-post .post-content h1 {
    margin-top: 70px;
  }
  div.blog .blog-post.external-video .post-content h1 {
    margin-top: 100px;
  }
  div.blog .blog-post .quote {
    margin-bottom: 20px;
  }
  div.blog .blog-post .post-content {
    padding-bottom: 40px;
  }
}
